# Dependencies
node_modules
/node_modules/

# Build outputs
.next
/out/
build

# Debugging and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment and secrets
.env
.env*.local
.vercel

# Version control
.git
.gitignore

# Docker files (prevent copying context back into itself)
Dockerfile
docker-compose*
.dockerignore

# Misc
.vscode
.idea
README.md
LICENSE
.DS_Store
